.full_bg {
  /* border:2em;
  padding:2em; */
  height: 100vh;
  background-size: cover;
}

#bg_1 {
  background-image: url('../media/napoleon.jpg');
}

#bg_2 {
  background-image: url('../media/pont_alex_3v2.jpg');
}

.white_txt {
  color: white;
}
