.image_size {
		width: 50%;
		height: 10%;
		display: block;
		margin-left: auto;
	  margin-right: auto;
		
}

.image_size_f {
	background-image: url('media/events/Foot_tournament.jpg');
	background-size: 100% 100%;
	background-position: center;
	
}
.description {
	background-size: cover;
	background-color: lightskyblue;
	font-size: 2vw;
	text-align: center;
}

.greetings {
	font-size: 50px;
	font-weight: 500;
	color: darkblue;
	margin: 20px 0 20px 0;
	text-align: center;
}

.btn{
	top:20%;
}

.rectangle {
	border: 10px solid blue;

}
/*
@media only screen and (max-width: 1000px){
  .image_size{ width: 100% }
	
	.description {
		font-size: 2vw;
}
	
@media only screen and (max-width: 500px){
  .image_size{ 
	width: 50%;
	height: 10%;}
	
	.description {
		font-size: 2vw;
}*/
