/*Navigation bar styles*/

.nav-link:hover {
 	border-bottom: 2px solid royalblue;
}
.fa {
	padding: 10px;
	font-size: 30px;
	width: 30px;
}
.fa-facebook {
	color: darkgrey;
}

.fa-instagram {
	color: darkgrey;
}

/*General styles for whole website*/

.full_bg {
	height: 100vh;
	background-color: rgba(0,0,0,.5);
}

.full_bg_news {
	height: 50vh;
	background-size: cover;
	background-color: white;
}

.full_bg_spons: {
	height: 80vh;
	background-size: cover;
	background-color: white;
}

.white_txt {
	margin-left: 5vw;
	margin-right: 5vw;
  	color: white;
	font-size: 3vw;
	font-size: 3vh;
}

.black_txt {
	margin-left: 5vw;
	margin-right: 5vw;
	color: black;
	font-size: 3vw;
	font-size: 3vh;
	margin-top: 10px;
}

.red_txt {
	color: red;
}

.overlay {
	background-color: rgba(0,0,0,.3);
	height: inherit;
	background-size: cover;
}

.card-bg-primary {
	width: 400px;
	height: 400px;
	color: aqua;
	box-shadow: 20px 10px 10px aqua;
}

.section-widget-title {
	font-size: 3vw;
	font-size: 3vh;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 1vh;
		font-size: 1vh;
    }
}
/*Styles by section of content*/

#About {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url('../media/pont_alex_3v2.jpg');
}

#Events {
	background-size: 100% 100%;
	background-repeat: no-repeat;
  	background-image: url('../media/events1.jpg');
}

	.podium {
		width: 60px;
		height: 60px;
	}

	.drinks {
		width: 60px;
		height: 60px;
	}

	.societies {
		width: 60px;
		height: 60px;
	}

	.white_txt_events {
		margin-left: 5vw;
		margin-right: 5vw;
		color: white;
	/*  	font-size: 25px;*/
		font-size: 2vw;
		font-size: 2vh;
	}

#Classes {
	background-size: 100% 100%;
	background-repeat: no-repeat;
  	background-image: url('../media/classes3.jpg!d');
	}

	.tbody {
		text-align: center;
	}

	.table {
		display: table;
		border-collapse: separate;
		border-spacing: 2px;
		border-color: black;
	}

	#Sign-up {
	/*  background-image: url('../media/classes2.jpeg') */
		background-color: white;
	}


#Le_Journal {
	background-size: 100% 100%;
	background-repeat: no-repeat;
    background-image: url('https://media.giphy.com/media/l378h7yBiPDAVHIOY/giphy.gif');
}

/*#Sponsors*/


#Newsletter {
/*
  	background-color:white;
	background-size: 100% 100%;
	background-repeat: no-repeat;
*/
}